.castContainer {
  margin-top: 80px;
}

.castList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.castItem {
  width: calc(25% - 20px);
  margin: 10px;
  text-align: center;
}

.actorImage {
  width: 100%;
  border-radius: 8px;
}

.castItem p {
  margin: 10px;
}

/* Nowe style dla nawigacji */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  background-color: #8bc34a;
  text-align: center;
  box-shadow: 0px 2px 5px #8bc34a;
}

.navButton {
  color: white;
  text-decoration: none;
  margin-right: 10px;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  border-radius: 8px;
  display: inline-block;
  margin-right: 10px;
}

.navButton:hover {
  background-color: #689f38;
}

.navButtonDisabled {
  color: rgb(23, 20, 219);
  cursor: not-allowed;
  pointer-events: none;
  margin-right: 10px;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
}
.navButtonBack {
  margin-right: 10px;
  padding: 10px;
  background-color: #8bc34a;
  box-shadow: 0px 2px 5px #8bc34a;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.navButtonBack:hover {
  background-color: #689f38;
}